#pogrubienie{
    font-size: 36px;
    color: #7a55e0;
}

#pochylony{
    font-size: 34pt;
    color: #e2b752;
}

#index_gorny{
    font-size: 1.6cm;
    color: #a6c420;
}

#index_dolny{
    font-size: 2.2cm;
    color: rgb(39, 216, 148);
}

#mono{
    font-size: 48px;
    color: #1eeeba;
}

#powiekszenie{
    color: #342575;
}

#pomniejszenie{
    color: rgb(202, 179, 28);
}
